@model ConfirmationModalViewModel

<div class="modal fade" id="confirmationModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                @Model.Body
                <ul></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Model.CloseButton</button>
                <button id="confirmationModalConfirmationButton" type="button" class="btn btn-primary">@Model.ConfirmationButton</button>
            </div>
        </div>
    </div>
</div>