<!DOCTYPE html>


<head>
    <link href="~/lib/bootstrap.min.css" rel="stylesheet" />
</head>

<body>

    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>