<!DOCTYPE html>


<head>
    <link href="~/lib/bootstrap.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
</head>

<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" asp-page="Index">UploadIt</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" asp-page="Upload">Upload</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" asp-page="Files">Your files</a>
        </li>
    </ul>
    <ul id="account_nav_ul" class="navbar-nav ml-auto">

    </ul>
</nav>
<div class="col-md-8 offset-2">
    @RenderBody()
</div>
    
<partial name="_LoadingModalPartial"/>

<script src="~/lib/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap.js"></script>
<script src="~/scripts/Navbar.js" type="module"></script>
<script src="~/scripts/AjaxProgressIndicator.js"></script>
@RenderSection("scripts", required: false)
</body>