<div class="modal fade" id="loadingModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background: transparent; border: none">
            <div class="modal-body">
                <img src="content/images/ajax-loader.gif" class="mx-auto d-block" />
            </div>
        </div>
    </div>
</div>