@page
@section scripts{
    <script src="~/scripts/AdminPanel.js" type="module"></script>
}

<table class="table" id="registrationListTable">
    <thead class="thead-light">
        <tr>
            <th class="col-sm-1">Id</th>
            <th class="col-sm-5">Name</th>
            <th class="col-sm-4">Email</th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1"></th>

        </tr>
    </thead>
    <tbody></tbody>
</table>