@page
@model UploadIt.Pages.FilesModel
@{
}

@section scripts
{
    <script src="~/scripts/Files.js" type="module"></script>
    <script src="~/scripts/RedirectToLogin.js" type="module"></script>
}
<a></a>
<div class="col-md-8 offset-2">
    <table class="table table-bordered" id="file_list_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <a id="download_action_link" hidden></a>
</div>