@page
@model UploadIt.Pages.FilesModel
@{
}


<div class="col-md-8 offset-2">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
        </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>