@page
@model UploadIt.Pages.FilesModel
@{
}

@section scripts
    {
    <script src="~/scripts/Files.js" type="module"></script>
    <script src="~/scripts/RedirectToLogin.js" type="module"></script>
}

<div class="container">
    <table class="table" id="file_list_table">
        <thead class="thead-light">
            <tr>
                <th class="col-md-8">Name</th>
                <th class="col-md-2">Size</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>

<partial name="_ConfirmationModalPartial" model="@{new ConfirmationModalViewModel
                                                     {
                                                         Title = "Are you sure?",
                                                         Body = "Do you want to delete --Javascript--",
                                                         CloseButton = "Cancel",
                                                         ConfirmationButton = "Delete"
                                                     }}" />