@page
@model UploadIt.Pages.UploadModel
@{
}

@section scripts{
    <script src="~/scripts/Upload.js" type="module"></script>
    <script src="~/scripts/RedirectToLogin.js" type="module"></script>
}
@section styles{ 
    <link href="~/styles/Upload.css" rel="stylesheet" />
}
    <div class="file-drop" id="file_drop_zone">
        <div class="col-md-8 offset-md-2">
            <div class="container">
                <h4 class="text-dark text-center">
                    Drop one or more files into the area below
                </h4>
            </div>
        </div>
    </div>
<partial name="_ConfirmationModalPartial" model="@{new ConfirmationModalViewModel
                                                   {
                                                       Title = "Upload files",
                                                       Body = "Are you sure you want to upload those files?",
                                                       CloseButton = "Cancel",
                                                       ConfirmationButton = "Upload"
                                                   }}" />

<partial name="_SuccessModalPartial" model="@{new SuccessModalViewModel
                                              {
                                                  Title = "Success!",
                                                  Body = "Files uploaded successfully",
                                                  CloseButton = "Close"
                                              }}" />