@page
@model UploadIt.Pages.UploadModel
@{
}

@section scripts
    {
    <script src="~/scripts/Upload.js" type="module"></script>
    <script src="~/scripts/RedirectToLogin.js" type="module"></script>
}

<div class="col-md-8 offset-md-2">
    <div id="file_drop_zone" style="background: aliceblue; height: 500px">
        <p>Drop one or more files</p>
    </div>
    <div>
        <button class="btn btn-dark" id="api_test">Api test</button>
    </div>
</div>